@import "reset.css";
html,
body,
.page {
  height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: auto;
}
header {
  height: 0.9rem;
  background-color: #f26b11;
  padding: 0 0.32rem 0 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span {
  font-size: 0.34rem;
  color: #fffdfe;
}
header .iconfont {
  color: #feffff;
  font-size: 0.4rem;
}
header .first {
  font-size: 0.55rem;
}
main .ban {
  margin-bottom: 0.18rem;
}
main .ban img {
  display: block;
}
main .ban img:nth-child(1) {
  height: 2.48rem;
  width: 7.5rem;
}
main .ban img:nth-child(2) {
  height: 2.62rem;
  width: 7.5rem;
}
main .ban img:nth-child(3) {
  height: 2.39rem;
  width: 7.5rem;
}
main .ban .infor {
  height: 2.06rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.47rem 0 0.37rem;
}
main .ban .infor span {
  font-size: 0.3rem;
  color: #333333;
  line-height: 0.48rem;
  margin-bottom: 0.29rem;
  font-weight: bold;
}
main .ban .infor i em {
  font-size: 0.24rem;
  color: #e3383e;
  display: inline-block;
  margin-right: 0.18rem;
}
main .ban .infor i b {
  font-size: 0.22rem;
  color: #878787;
}
main .price {
  height: 4rem;
  box-sizing: border-box;
  background: #fff;
}
main .price .top {
  height: 0.98rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  align-items: center;
}
main .price .top p {
  font-size: 0.26rem;
  color: #454545;
  display: flex;
  align-items: center;
}
main .price .top p span {
  display: inline-block;
  margin-right: 0.27rem;
  margin-left: 0.25rem;
}
main .price .top p i {
  display: inline-block;
  width: 0.66rem;
  height: 0.36rem;
  border: 1px solid #b0281a;
  color: #b0281a;
  text-align: center;
  line-height: 0.36rem;
  border-radius: 0.05rem;
  margin-right: 0.16rem;
}
main .price .top .iconfont {
  margin-right: 0.2rem;
  color: #b8b8b8;
  font-size: 0.3rem;
}
main .price .mid {
  height: 1.08rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f1f1f1;
}
main .price .mid em {
  font-size: 0.24rem;
  margin-left: 0.25rem;
  color: #454545;
}
main .price .mid span {
  width: 2.12rem;
  height: 0.59rem;
  border: 1px solid #454545;
  color: #454545;
  border-radius: 0.05rem;
  display: flex;
  margin-right: 0.3rem;
  font-size: 0.3rem;
}
main .price .mid span .box {
  width: 0.63rem;
  height: 0.57rem;
  text-align: center;
  line-height: 0.59rem;
}
main .price .mid span .sec {
  width: 0.84rem;
  height: 0.57rem;
  line-height: 0.59rem;
  text-align: center;
  border-right: 1px solid #454545;
}
main .price .mid span .fir {
  border-right: 1px solid #454545;
}
main .price .bot {
  height: 1.92rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .price .bot p {
  display: flex;
  justify-content: space-between;
}
main .price .bot p span {
  color: #454545;
  font-size: 0.24rem;
  margin-left: 0.25rem;
}
main .price .bot p .iconfont {
  margin-right: 0.2rem;
  color: #b8b8b8;
  font-size: 0.3rem;
}
main .price .bot em i {
  display: inline-block;
  font-size: 0.24rem;
  color: #b5b5b5;
  margin-left: 0.25rem;
  margin-right: 0.7rem;
}
main .price .bot em a {
  font-size: 0.3rem;
}
main .price .bot em a:nth-child(2) {
  display: inline-block;
  width: 1.5rem;
  height: 0.59rem;
  background-color: #e43a3d;
  color: #fff;
  text-align: center;
  line-height: 0.59rem;
  border-radius: 0.05rem;
  margin-right: 0.15rem;
  font-size: 0.28rem;
}
main .price .bot em a:nth-child(3) {
  display: inline-block;
  width: 1.17rem;
  height: 0.59rem;
  background-color: #e1e1e3;
  color: #fff;
  text-align: center;
  line-height: 0.59rem;
  border-radius: 0.05rem;
}
main .detail {
  background: #fff;
  margin-bottom: 0.25rem;
}
main .detail p {
  height: 1.01rem;
  background: #fff;
  color: #454545;
  font-size: 0.3rem;
  margin: 0.35rem 0 0 0.25rem;
}
main .detail .pic img:nth-child(1) {
  height: 4.5rem;
  width: 100%;
}
main .detail .pic img:nth-child(2) {
  height: 4.69rem;
  width: 100%;
}
main .detail .pic img:nth-child(3) {
  height: 4.79rem;
  width: 100%;
}
main .detail .pic img:nth-child(4) {
  height: 3.88rem;
  width: 100%;
}
main .detail .pic img:nth-child(5) {
  height: 3.36rem;
  width: 100%;
}
main .detail .pic img:nth-child(6) {
  height: 2.59rem;
  width: 100%;
}
main .sum {
  height: 5.65rem;
  background-color: #fff;
  padding: 0 0.27rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
}
main .sum h2 {
  height: 0.94rem;
  line-height: 0.94rem;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.28rem;
  color: #454545;
}
main .sum .peop {
  height: 1.38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .sum .peop span {
  font-size: 0.26rem;
  color: #666666;
}
main .sum .peop i {
  font-size: 0.24rem;
  color: #444444;
}
main .sum .pic {
  display: flex;
  margin-bottom: 0.37rem;
}
main .sum .pic img {
  margin-right: 0.24rem;
}
main .sum .pic img:nth-child(1) {
  width: 1.55rem;
  height: 1.51rem;
}
main .sum .pic img:nth-child(2) {
  width: 1.5rem;
  height: 1.5rem;
}
main .sum .pic img:nth-child(3) {
  width: 1.55rem;
  height: 1.51rem;
}
main .sum .date {
  height: 0.5rem;
  display: block;
  font-size: 0.2rem;
  color: #999999;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.3rem;
}
main .sum .add {
  font-size: 0.24rem;
  color: #999;
}
section {
  height: 1.15rem;
  background-color: #fff;
  display: flex;
  position: relative;
}
section p {
  width: 1.72rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section p .iconfont {
  font-size: 0.4rem;
  color: #888888;
}
section p span {
  font-size: 0.18rem;
  color: #888888;
}
section .buy {
  height: 1.15rem;
  display: flex;
  flex: 1;
  align-items: center;
}
section .buy a {
  height: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 0.3rem;
}
section .buy .fir {
  background-color: #f26b11;
  color: #fff;
}
section .buy .sec {
  background: #e43a3d;
  color: #fff;
}
section b {
  width: 0.24rem;
  height: 0.24rem;
  background: #e7383d;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  left: 0.86rem;
  bottom: 0.73rem;
  text-align: center;
  line-height: 0.24rem;
}
